.form-container {
    max-block-size: 80vh;
}

.form-row {
    height: 4rem;
}

label {
    margin-bottom: 2px;
    margin-top: 4px;
}

.btn {
    margin-top: 15px;
    height: 3rem;
    background-color: lightblue;
    color: black;
    border-color: black;
}


