h2 {
    color: lightgray;
    font-size: 1.5em;
}

#column1 {
    height: 87vh;
}

#v-pills-display-listings {
    animation: slide-right 2s ease-in-out;
}

#v-pills-subscription {
    animation: slide-right 2s ease-in-out;
}

@keyframes slide-right {
    0% { opacity: 0; transform: translateX(0%); }
    100% { opacity: 1; transform: translateX(0.065%); }
}

#v-pills-tabContent {
    padding-top: 0px !important;
}

.portal-pane {
    padding-top: 5px;
    background-color:#6c757d;
    height: 100vh;
    width: 9.5rem;
    color: white;
    border-radius: 0px;
}

.tab-pane {
    padding-left: 0px;
}

#portal-col {
    padding-right: 0px;
    max-width: 137px;
    height: 100%;
}

.nav-tabs > li {
    float:left;
  }


.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    background-color: lightblue;
    color: darkslategray;
  }

.tab-content {
    max-height: 87vh;
    align-content: left;
}

.title {
    padding-left: 20px;
    color: lightgray;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
    background-color: #212529;
    border-radius: 0px;
}

#v-pills-welcome {
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 400;
}

#v-pills-tabContent {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    margin-top: 0px;
    max-height: 80vh;
}

.portal-content {
    max-height: 83vh;
    padding: 0px;
    margin: 0px;
}
.tab-content>.tab-pane{
    
    max-height: 83vh;
}

.nav-link {
    display: flex;
}

body {
    background-color: #3f474e;
    color: white;
    padding-left: 0px;
    font-family: "Open Sans";
}
.form-control {
    background-color: #a7b0b8;
    color: black;
}

.form-control:focus {
    background-color: #ebedef;
}
